
/* Base */
@import url('base/variables.css');
@import url('base/reset.css');
@import url('base/utilities.css');

/* Layout */
@import url('layout/header.css');
@import url('layout/main.css');
@import url('layout/footer.css');

/* Components */
@import url('components/form.css');
@import url('components/buttons.css');
@import url('components/task.css');
@import url('components/modal.css');